** {
  padding: 0%;
  margin: 0%;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto";
  position: relative;
}

.hidden {
  opacity: 0;
  transition: 0.3s;
}

.main__btn {
  z-index: 100;
  position: fixed;
  bottom: 55px;
  right: 60px;
  width: 44px;
  height: 44px;
  background-color: #98C22A;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}
.main__btn svg {
  transform: rotate(-90deg);
  margin: 15px auto;
}

.header__high {
  width: 1500px;
  margin: 0 auto;
}
.header__high .menu__header {
  display: flex;
  justify-content: space-between;
}
.header__high .menu__header ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin: 0;
  color: #777777;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 48px;
  align-items: center;
}
.header__high .menu__header ul .item__menu a {
  color: #777777;
}
.header__high .menu__header ul .item__menu a:hover {
  color: #98C22A;
}
.header__high .menu__header .login {
  display: flex;
  color: #777777;
  line-height: 48px;
}
.header__high .menu__header .login:hover a {
  color: #98C22A;
}
.header__high .menu__header .login:hover svg #personal {
  fill: #333333;
}
.header__high .menu__header .login a {
  color: #777777;
  margin: 0;
}
.header__high .menu__header .login svg {
  margin: auto 0;
}

.bigLine {
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}

.header--fixed {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.header--fixed .search__header .logo__header {
  width: 147px !important;
  height: 46px !important;
}
.header--fixed .search__header .logo__header img {
  width: 147px !important;
  height: 46px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.header--fixed .search__header .input__header input {
  height: 62px !important;
  background-color: #fff !important;
  border: 0px solid #ECECEC !important;
  margin-right: 1px !important;
}
.header--fixed .search__header .input__header .catalog__vector {
  top: 10px !important;
}

.header__middle {
  width: 100%;
}
.header__middle .search__header {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__middle .search__header .logo__header {
  width: 213px;
  height: 110px;
}
.header__middle .search__header .logo__header img {
  width: 213px;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__middle .search__header .info__header {
  margin: auto 0;
}
.header__middle .search__header .info__header p {
  margin: 0;
}
.header__middle .search__header .info__header .phone__header {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header__middle .search__header .info__header .phone__header:hover svg #phone__icon {
  fill: #98C22A;
}
.header__middle .search__header .info__header .phone__header svg {
  margin: auto 0;
}
.header__middle .search__header .info__header .phone__header .phone {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}
.header__middle .search__header .info__header .text {
  font-size: 9.6px;
  color: #98C22A;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
}
.header__middle .search__header .info__header .text:hover {
  color: #333333;
}
.header__middle .search__header .input__header {
  display: flex;
  align-items: center;
  width: 828px;
  background-color: #ECECEC;
  position: relative;
}
.header__middle .search__header .input__header input {
  width: 100%;
  height: 42px;
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  margin-left: 1px;
  padding-left: 20px;
}
.header__middle .search__header .input__header input:focus {
  background-color: #fff;
}
.header__middle .search__header .input__header .catalog__vector {
  cursor: pointer;
  position: absolute;
  right: 65px;
  top: 2px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.header__middle .search__header .input__header .searchButton {
  cursor: pointer;
  position: absolute;
  right: 16px;
}
.header__middle .search__header .input__header .searchButton:hover svg path {
  fill: #98C22A;
}
.header__middle .search__header .vectors__header {
  display: flex;
  align-items: center;
}
.header__middle .search__header .vectors__header .vector {
  display: flex;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: 81px;
  height: 42px;
  align-items: center;
  cursor: pointer;
}
.header__middle .search__header .vectors__header .vector:hover svg path {
  fill: #98C22A;
}
.header__middle .search__header .vectors__header .vector .counter {
  color: #fff;
  width: 18px;
  height: 17px;
  background-color: #98C22A;
  text-align: center;
  border-radius: 50%;
}
.header__middle .search__header .vectors__header .vector .counter p {
  margin: 0;
}
.header__middle .search__header .vectors__header .vector .counter .underLine {
  width: 8px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
}

.header__bottom {
  background-color: #333333;
  color: #fff;
}
.header__bottom .menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  height: 53px;
}
.header__bottom .menu__nav .item {
  padding: 17.5px 100px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}
.header__bottom .menu__nav .item:hover {
  background-color: #687790;
}

main {
  font-family: "Ubuntu", monospace;
}
main button {
  border: none;
}
main .container {
  position: relative;
  display: flex;
  margin-bottom: 80px;
}
main .container .info__current-page {
  width: 1500px;
  margin: 30px 0 0 110px;
}
main .container .info__current-page .area__info {
  text-align: start;
}
main .container .info__current-page .area__info .name__page {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
}
main .container .info__current-page .area__info .path__page {
  color: #b6b5b5;
  font-size: 13px;
}
main .container .info__current-page .area__info .path__page span:hover {
  color: #98C22A;
  cursor: pointer;
}
main .container .info__current-page p {
  font-family: "Ubuntu";
}
main .container .info__current-page .str1 {
  position: absolute;
  left: 200px;
  top: 80px;
  font-size: 18px;
}
main .container .info__current-page .str2 {
  position: absolute;
  left: 270px;
  top: 110px;
  font-size: 18px;
}
main .container .info__current-page .str3 {
  position: absolute;
  top: 100px;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
main .container .info__current-page .str4 {
  position: absolute;
  top: 154px;
  left: 260px;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
main .container .info__current-page .str5 {
  position: absolute;
  top: 280px;
  width: 561px;
  line-height: 24px;
}
main .container .info__current-page .str6 {
  position: absolute;
  top: 350px;
  width: 505px;
  line-height: 24px;
}
main .container .info__current-page .str7__cursive {
  position: absolute;
  top: 450px;
  left: 250px;
  font-size: 28px;
  transform: rotate(-3.12deg);
  font-family: "Marck Script", cursive;
}
main .container .image__moto {
  width: 1050px;
  height: 500px;
}
main .container .image__moto img {
  width: 1050px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .search__panel {
  width: 1500px;
  margin: 0 auto 40px;
}
main .search__panel p {
  font-size: 24px;
  color: #333333;
}
main .search__panel .wrapper__input {
  display: flex;
  width: 100%;
  height: 46px;
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  position: relative;
}
main .search__panel .wrapper__input input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-left: 10px;
}
main .search__panel .wrapper__input input:focus {
  background-color: #fff;
}
main .search__panel .wrapper__input button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #98C22A;
  color: #fff;
  width: 103px;
  border-radius: 26px;
  border: none;
}
main .filter__panel {
  display: flex;
  margin: 0 auto;
  width: 1500px;
  height: 60px;
  margin-bottom: 24px;
}
main .filter__panel .btn {
  padding: 0 30px;
  line-height: 60px;
  font-size: 11px;
  color: #333333;
  border: 1px solid #ECECEC;
  border-right: none;
  cursor: pointer;
}
main .filter__panel .btn:hover {
  color: #98C22A;
}
main .filter__panel .active {
  background-color: #ECECEC;
}
main .filter__panel .empty {
  width: 1005px;
  height: 60px;
  border: 1px solid #ECECEC;
}
main .conclusion__of__search__and__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
main .conclusion__of__search__and__filter .events .event {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  border: 1px solid #ECECEC;
  padding: 20px;
  transition: 0.3s;
}
main .conclusion__of__search__and__filter .events .event:hover {
  transition: 0.3s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
main .conclusion__of__search__and__filter .events .event:hover .link__arrow {
  background-color: #98C22A;
}
main .conclusion__of__search__and__filter .events .event:hover .link__arrow svg path {
  fill: #fff;
}
main .conclusion__of__search__and__filter .events .event .image__and__info {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__image {
  width: 200px;
  height: 200px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__image a img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .data {
  font-size: 13px;
  color: #999999;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .name__of__event p {
  font-size: 16px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin: 20px 0;
  cursor: pointer;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .name__of__event p:hover {
  color: #98C22A;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .text p {
  font-size: 14px;
  color: #666666;
  margin: 20px 80px 20px 0;
  line-height: 26px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .time__and__data {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 20px 0;
  line-height: 25px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .time__and__data span {
  font-size: 18px;
  color: #777777;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .time__and__data .time {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .time__and__data .data {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main .conclusion__of__search__and__filter .events .event .image__and__info .cont__info .time__and__data .name__of__gid a {
  color: #98C22A;
  text-decoration: underline;
}
main .conclusion__of__search__and__filter .events .event .link__arrow {
  width: 38px;
  height: 38px;
  padding: 10px 8.5px;
  border: 1px solid #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}
main .conclusion__of__search__and__filter .events .event .link__arrow .arrow {
  width: 13px;
  height: 11px;
}
main .conclusion__of__search__and__filter .calendar__of__events {
  padding: 0px 10px;
  width: 380px;
}
main .conclusion__of__search__and__filter .calendar__of__events .cont__data__calendar {
  display: flex;
  justify-content: space-between;
}
main .conclusion__of__search__and__filter .calendar__of__events .cont__data__calendar .data__calendar {
  margin: auto 0;
  color: #555555;
}
main .conclusion__of__search__and__filter .calendar__of__events .cont__data__calendar .arrow {
  cursor: pointer;
}
main .conclusion__of__search__and__filter .calendar__of__events .cont__data__calendar .arrow__left {
  transform: rotate(180deg);
}
main .conclusion__of__search__and__filter .calendar__of__events .choose__data {
  width: 330px;
  margin: 0 auto;
}
main .conclusion__of__search__and__filter .calendar__of__events .choose__data .weekdays {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-between;
  padding: 0;
  color: #555555;
}
main .conclusion__of__search__and__filter .calendar__of__events .choose__data .numberdays {
  display: grid;
  grid-template-columns: repeat(7, 20px);
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 40px;
  padding: 0;
  margin: 14px 0 60px;
}
main .conclusion__of__search__and__filter .calendar__of__events .choose__data .numberdays li {
  text-decoration: underline;
  color: #98C22A;
  cursor: pointer;
}
main .pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 1120px;
  margin-left: 105px;
  margin-bottom: 60px;
}
main .pagination .dot p {
  margin-top: 7px;
}
main .pagination a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
}
main .pagination a:hover {
  background-color: #98C22A;
}
main .pagination a:hover .number__page {
  color: #fff;
}
main .pagination a .number__page {
  font-weight: 700;
  color: #333333;
  padding-top: 6px;
}
main .pagination a .text {
  text-decoration: underline;
  color: #98C22A;
}
main .pagination .active {
  background-color: #98C22A;
}
main .pagination .active .number__page {
  color: #fff;
}
main .something__yours {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 1500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  margin-bottom: 80px;
}
main .something__yours .container__texts {
  margin: auto 70px;
}
main .something__yours .container__texts p {
  margin: 0;
}
main .something__yours .container__texts .text__high {
  font-size: 38px;
  line-height: 50px;
}
main .something__yours .container__texts .fwb {
  font-size: 56px;
  font-weight: 700;
  line-height: 69px;
}
main .something__yours .cards__properties {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}
main .something__yours .cards__properties div {
  display: flex;
}
main .something__yours .cards__properties .block__high {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
main .something__yours .cards__properties .block__high div {
  padding: 5px 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-radius: 12px;
  font-size: 28px;
  color: #fff;
  align-items: center;
}
main .something__yours .cards__properties .block__high .cinema {
  background-color: #D9285D;
  transform: rotate(-4.27deg);
}
main .something__yours .cards__properties .block__high .tours {
  background-color: #F8C12A;
  transform: rotate(3.24deg);
}
main .something__yours .cards__properties .block__high .lectures {
  background-color: #8A41F7;
  transform: rotate(-4.69deg);
}
main .something__yours .cards__properties .block__bottom {
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
main .something__yours .cards__properties .block__bottom div {
  padding: 5px 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-radius: 12px;
  font-size: 28px;
  color: #fff;
  align-items: center;
}
main .something__yours .cards__properties .block__bottom .festivales {
  background-color: #2892D9;
  transform: rotate(1.4deg);
}
main .something__yours .cards__properties .block__bottom .studing {
  background-color: #98C22A;
  transform: rotate(-2.36deg);
}
main .title__block {
  width: 1500px;
  margin: 0 auto;
}
main .title__block p {
  font-size: 36px;
  line-height: 56px;
}
main .blocks__interesting {
  display: flex;
  color: #fff;
}
main .blocks__interesting .title__development {
  font-size: 24px;
  font-weight: 700;
}
main .blocks__interesting .block__intrst {
  position: relative;
}
main .blocks__interesting .block__intrst .title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
main .blocks__interesting .block__intrst .title__and__btn {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 30px;
  left: 40px;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
main .blocks__interesting .block__intrst .title__and__btn button {
  line-height: 40px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #9c9c9c;
  color: #fff;
  padding: 0 15px;
}
main .blocks__interesting .block__intrst .title__and__text {
  position: absolute;
  bottom: 30px;
  left: 40px;
}
main .blocks__interesting .block__intrst .title__and__text .text__lecture {
  width: 500px;
  line-height: 20px;
  color: #9c9c9c;
  font-size: 16px;
}
main .blocks__interesting .lecture__hall {
  width: 870px;
  height: 653px;
  background-size: cover;
  background-image: url("https://s3-alpha-sig.figma.com/img/08cb/c91a/11c687efa073bbdbad5748361cd560dc?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=pjk16dnQEg9OyCmC75MKRMKOKgS-07y9g3BSjtoMAOAIh8WTMqI9YhPSCqrifsW5xUa0bs6bfe2Vi8lVWhTnl4zk68AiGiJUoepwNOvm9Xg8Px~cm556wHjQjjGqs4GG-hdPoVD1bRdRVjNakk0PsZDHiUKnULlM3kvmccLQ6nSVEMgKzfHlYVDOb415Ksd6ZQE4BsDme7qid8uq1fVJA3bQqOX3LLJDAKf68jgA3ZW72cM-R74o1WEu4z-9d7OCtD13NyPuKWzy5xcUnYIoeOlQ4QLunVVjB5Hvb7JAjHxjVtBqz~AIIR4VDrtv3js3tOqs7vZhhAC-KbB3E6qpqA__");
}
main .blocks__interesting .coworking {
  filter: grayscale(100%);
  width: 526px;
  height: 653px;
  background-position: center;
  background-size: cover;
  background-image: url("https://s3-alpha-sig.figma.com/img/2c6c/25df/30af67b5ab706655e24ba235dc1175a5?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=NeDqTAvZpBk5Ng0lPe~T2xw3aUcBXOK-nvHmAY-9k1tngY8P1ThEgIENuBfzMZAlIfUcwEWRwW-O85ksMQ5RnHg3E~8UNbF7DuoisjZJjBMH~3VkiBb1GwmqIaXd9SoRxkqs~tuya0WlOCEsGSbubkUGqIRjGWsuX5IwZwmcuGViowMVXPcLTb5ZAIfHEP7xz2Tu45db3StJ~kC8DwVI5zYZDdhgTMwu01m2WmWmaW8WDWrKSBaYYBO2~ZHVt3U80h3yc~cSqpnxrRs8-xR8LM53oYVtvq76Ci6azUUVRyhZH3kZanQDQazKM14YDIa~QQmv6-mWcKkJ0NCLwkDMsQ__");
}
main .blocks__interesting .climbing__wall {
  filter: grayscale(100%);
  width: 526px;
  height: 653px;
  background-size: cover;
  background-image: url("https://s3-alpha-sig.figma.com/img/ec38/9b9f/e6d83c0ccd819fe9e345b94f2178ffdf?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=KnvkYtM7H-hZsBpYeSEroAC2kVBGu6~szZLqZ7ZtzRjIaHRYuxmGfQIgx4tdk6xvMQtM5pZDlP3ujyObZ8Gcu6BRPK42ZcQNAkB2ABw6bU~EeczQYA2FiIBvfaeXCX5hZtd7evAhHoPQyl5uv5DJZV-BSVJjaq6wz399H2PcyYbVd4o62IBy4tK-dorbYpj5PeQI2DA8x5Sf13dVdWt52Pm8KVpJ0fWBtYzal2bZYOidP3rCMsSxJhf8hdiW-vx-IcGGknkLh9gEKkKGreZo6Dxzm4xLHblUIDUJGcLiQtsAjqyRSL58BpKtE9hpHd4lauunC5LVtinErLlnlwFwCQ__");
}
main .advertising {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  height: 448px;
}
main .advertising p {
  margin: 0;
}
main .advertising .content__and__link {
  margin-top: 100px;
  margin-left: 110px;
}
main .advertising .content__and__link .content {
  margin-bottom: 120px;
}
main .advertising .content__and__link .content .action__to__output {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
main .advertising .content__and__link .content .small__text {
  color: #9c9c9c;
  font-size: 16px;
}
main .advertising .content__and__link .link {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 20px;
}
main .advertising .content__and__link .link a .socialnetwork {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  height: 40px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2509803922);
  color: #000;
}
main .advertising .content__and__link .link a .socialnetwork svg {
  margin-left: 15px;
}
main .advertising .content__and__link .link a .socialnetwork p {
  margin-right: 15px;
}
main .advertising .content__and__link .link .text__link {
  width: 250px;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 20px;
}
main .advertising .content__and__link .instruction {
  font-size: 12px;
  color: #9c9c9c;
}
main .advertising .container__image {
  overflow: hidden;
  position: relative;
  width: 1000px;
}
main .advertising .container__image .gradient {
  position: absolute;
  width: 856px;
  height: 856px;
  border-radius: 120px;
  transform: rotate(-155deg);
  bottom: -600px;
  background: conic-gradient(from 180deg at 50% 50%, #00ba4b 0deg, rgba(255, 255, 255, 0.72) 16.88deg, #00ba4b 88.12deg, rgba(255, 255, 255, 0.72) 151.87deg, #00ba4b 225deg, rgba(255, 255, 255, 0.72) 288.75deg, #00ba4b 360deg);
}
main .advertising .container__image .image__phone {
  width: 350px;
}
main .advertising .container__image .image__phone img {
  margin-top: 30px;
  margin-left: 300px;
  width: 325px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(-11.46deg);
}

footer {
  background-color: #333333;
  padding: 60px 0 40px;
}
footer .cont__footer {
  display: flex;
  -moz-column-gap: 230px;
       column-gap: 230px;
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 50px;
}
footer .cont__footer .block__menu .items__menu {
  display: flex;
  justify-content: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
footer .cont__footer .block__menu .items__menu a .item__menu {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  margin: 8px 0;
}
footer .cont__footer .block__menu .items__menu a .item__menu:hover {
  color: #999999;
}
footer .cont__footer .block__menu .icons {
  margin-top: 25px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .cont__footer .block__menu .icons .cont__viber {
  border-radius: 50%;
  transition: 0.3s;
}
footer .cont__footer .block__menu .icons .cont__viber .viber {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 0.5px solid #999999;
  transition: 0.3s;
}
footer .cont__footer .block__menu .icons .cont__viber .viber:hover {
  background-color: #553fe3;
  border: 0.5px solid transparent;
  transition: 0.3s;
}
footer .cont__footer .block__menu .icons .cont__viber .viber:hover svg path {
  fill: #fff;
  transition: 0.3;
}
footer .cont__footer .block__menu .icons .cont__viber .viber svg {
  margin: 13.5px;
}
footer .cont__footer .block__menu .icons .cont__whatsapp {
  border-radius: 50%;
}
footer .cont__footer .block__menu .icons .cont__whatsapp .whatsapp {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 0.5px solid #999999;
  transition: 0.3s;
}
footer .cont__footer .block__menu .icons .cont__whatsapp .whatsapp:hover {
  background-color: #98C22A;
  border: 0.5px solid transparent;
  transition: 0.3s;
}
footer .cont__footer .block__menu .icons .cont__whatsapp .whatsapp:hover svg path {
  fill: #fff;
  transition: 0.3;
}
footer .cont__footer .block__menu .icons .cont__whatsapp .whatsapp svg {
  margin: 13px;
}
footer .cont__footer .block__connect__button {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
footer .cont__footer .block__connect__button .block__connect .item__block {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
footer .cont__footer .block__connect__button .block__connect .item__block div {
  display: block;
}
footer .cont__footer .block__connect__button .block__connect .item__block div svg {
  margin-top: 17px;
}
footer .cont__footer .block__connect__button .block__connect .item__block a p {
  color: #fff;
  font-size: 16px;
}
footer .cont__footer .block__connect__button .block__connect .item__block a p:hover {
  color: #999999;
}
footer .cont__footer .block__connect__button .block__connect span {
  color: #999999;
  margin-left: 25px;
  cursor: pointer;
}
footer .cont__footer .block__connect__button .block__connect span:hover {
  color: #fff;
}
footer .cont__footer .block__connect__button .block__button .subscribe {
  background-color: #494949;
  width: 342px;
  border: none;
  text-align: start;
  border-radius: 26px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  margin-bottom: 30px;
}
footer .cont__footer .block__connect__button .block__button .subscribe:hover {
  background-color: #98C22A;
  transition: 0.3s;
}
footer .cont__footer .block__connect__button .block__button .subscribe:hover svg path {
  fill: #fff;
}
footer .cont__footer .block__connect__button .block__button .subscribe .text__button {
  color: #fff;
  font-size: 13px;
  line-height: 46px;
}
footer .cont__footer .block__connect__button .block__button .subscribe svg {
  margin: auto 0;
}
footer .cont__footer .block__connect__button .block__button .politic {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .cont__footer .block__connect__button .block__button .politic svg {
  margin: auto 0;
}
footer .cont__footer .block__connect__button .block__button .politic p {
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  cursor: pointer;
}
footer .cont__footer .block__connect__button .block__button .politic p:hover {
  color: #fff;
}
footer .cont__footer__bottom {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #999999;
}
footer .cont__footer__bottom .text__cron {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  color: #999999;
}
footer .cont__footer__bottom .text__cron:hover {
  color: #fff;
}
footer .cont__footer__bottom .text__cron .logo__cron .logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
footer .cont__footer__bottom .text__cron .logo__cron .logo .small {
  margin-top: 13px;
}
footer .cont__footer__bottom .text__cron .logo__cron .cron {
  display: flex;
}/*# sourceMappingURL=index.css.map */